@font-face {
  font-family: 'Noto';
  src: url('./fonts/NotoSansThai-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.App-header img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
  margin: auto;
}

.scene-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.scene-text {
  font-family: 'Noto';
  font-size: 12pt;
  max-width: 80vw;
  color: black;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 0 10px;
  white-space: pre-wrap;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scene-text.show {
  opacity: 1;
}

.scene-text.text-box {
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

/* Position modifiers */
.text-top {
  align-items: flex-start;
  padding-top: 10vh;
}

.text-middle {
  align-items: center;
}

.text-bottom {
  align-items: flex-end;
  padding-bottom: 10vh;
}

.text-color-black {
  color: black;
}

.text-color-red {
  color: red;
}

.text-color-white {
  color: white;
}

.input-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  pointer-events: auto;
}

.input-name {
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-align: center;
  outline: none;
  width: 200px;
  max-width: 80%;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .App-header img {
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
    object-fit: cover; /* Cover the entire viewport */
  }

  .scene-text {
    /* Adjust positioning for mobile, if necessary */
    max-width: 80vw;
    font-size: 18px;
  }
}
